@font-face {
    font-family: "Dela Gothic One";
    src: local("Dela Gothic One Regular"), local("Dela-Gothic-One-Regular"),
        url("DelaGothicOne-Regular.woff2") format("woff2"),
        url("DelaGothicOne-Regular.woff") format("woff"),
        url("DelaGothicOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }