extends ../base/layout

block variables
  - var title = "Портфолио"

block main
    .container.portfolio-page
        ul.portfolio-page__list
            each item in CLASSIC_COVERS
                li.portfolio-page__item
                    div.cover-card
                        div.cover-card__text
                            p #{item.date}
                            h2.cover-card__heading
                                | Свадьба
                                br
                                | #{item.title}
                        img.cover-card__image(src=item.coverSrc, alt=item.coverText, width='200', height='200')
