extends ../base/layout

block variables
  - var title = "координация свадебного торжества"
  - var isInnerPage = true

block main
    section.price-page
        .price-page__intro
            h1.price-page__title #{title}

        .price-page__wrapper
            .price-page__content(data-aos="fade-up" data-aos-delay="100")
                h2.price-page__heading координация свадебного торжества
                h3.price-page__price 30 000 руб
                .price-page__block
                    h3.price-page__block-title Частичная помощь в организации вашей свадьбы:
                    ul.price-page__list
                        li.price-page__item.
                            Пошаговый план подготовки с чек-листами;
                        li.price-page__item.
                            Консультационная поддержка в чате;
                        li.price-page__item.
                            Контакты проверенных подрядчиков (при необходимости);
                        li.price-page__item.
                            Подготовка ТЗ для площадки;
                        li.price-page__item.
                            Подготовка и контроль тайминга мероприятия;
                        li.price-page__item.
                            Составление плана дня для пары;
                        li.price-page__item.
                            Составление и контроль плана рассадки гостей;
                        li.price-page__item.
                            Координация всего свадебного дня от монтажа до демонтажа;
                        li.price-page__item.
                            Встреча команды, прием алкоголя и всего, что привезла пара (сувениры, бутафория и т.д.);
                        li.price-page__item.
                            Инструктаж официантов на тему наличия аллергии и предпочтений в напитках у ваших гостей;
                        li.price-page__item.
                            Контроль договоренностей с подрядчиками и их координация;
                        li.price-page__item.
                            Помощь в сборах жениха и невесты, включая отпаривание свадебных образов;
                        li.price-page__item.
                            Помощь подрядчикам;
                        li.price-page__item.
                            Помощь ведущему;
                        li.price-page__item.
                            Решение форс-мажорных ситуаций;
                        li.price-page__item.
                            Сбор подарков;
                        li.price-page__item.
                            Оплата работы подрядчиков согласно заранее утвержденной смете;
                        li.price-page__item.
                            Пересчет алкоголя в конце мероприятия.
