extends ../base/layout

block variables
  - var title = "optimum"
  - var isInnerPage = true

block main
    section.price-page
        .price-page__intro
            h1.price-page__title #{title}

        .price-page__wrapper
            .price-page__content(data-aos="fade-up" data-aos-delay="100")
                h2.price-page__heading организация "optimum"
                h3.price-page__price 85 000 – 100 000 руб
                .price-page__desc

                    p.price-page__text
                        | Для свадеб с бюджетом до 1,2 млн
                        br
                        | В стоимость входят услуги организатора и одного координатора, а также контент-менеджера, который снимет трендовые рилс о вашей свадьбе.
                    p.price-page__text
                        | Будни - 85 000
                        br
                        | Выходные - 100 000

                    p.price-page__text
                        | Для тех, кто хочет оградить себя от всех забот и получить от свадьбы только положительные эмоции. Для тех, кто хочет праздник, который вы и ваши близкие запомните на всю жизнь.
                        br
                        | Бережем ваши нервы, время и бюджет.

                .price-page__block(data-aos="fade-up" data-aos-delay="200")
                    h3.price-page__block-title концепция свадьбы
                    ul.price-page__list
                        li.price-page__item.
                            Разработка концепции свадьбы исходя из следующих факторов: ваши пожелания, история знакомства, увлечения и все то, что поможет сделать вашу свадьбу уникальной;
                
                        li.price-page__item.
                            Помощь в выборе свадебных образов для пары и определении дресс-кода для гостей в соответствии с общей концепцией мероприятия.
                
                .price-page__block(data-aos="fade-up" data-aos-delay="300")
                    h3.price-page__block-title подготовка к торжеству
                    ul.price-page__list
                        li.price-page__item Планирование, распределение и согласование бюджета на всех этапах;
                        li.price-page__item Подготовка сметы, чек-листов;
                        li.price-page__item Подбор площадки под концепцию и бюджет;
                        li.price-page__item Подбор подрядчиков - ведущий, фотограф, видеограф, декораторы, артисты, кейтеринг и т.д.;
                        li.price-page__item Сопровождение пары на всех встречах с подрядчиками;
                        li.price-page__item Разработка сценария, плана торжества, ТЗ для подрядчиков, тайминга;
                        li.price-page__item Организация выездной регистрации (при необходимости);
                        li.price-page__item Составление меню; помощь в дегустации, включая дегустацию свадебного торта;
                        li.price-page__item Организация утра невесты и жениха;
                        li.price-page__item Организация фотосессии;
                        li.price-page__item План "Б" на случай форс-мажоров.
                .price-page__block(data-aos="fade-up" data-aos-delay="400")
                    h3.price-page__block-title взаимодействие с гостями
                    ul.price-page__list
                        li.price-page__item Организация и помощь с поздравлениями;
                        li.price-page__item Расселение и трансфер гостей;
                        li.price-page__item Помощь гостям с ограниченными возможностями, детьми, предоставление им необходимых условий;
                        li.price-page__item Инструктаж персонала на наличие аллергий у гостей, по предпочтениям в еде и напитках, а также по другим особенностям.
                .price-page__block(data-aos="fade-up" data-aos-delay="500")
                    h3.price-page__block-title день свадьбы
                    ul.price-page__list
                        li.price-page__item Полная координация всех процессов в день свадьбы;
                        li.price-page__item Контроль договоренностей с подрядчиками и площадкой, контроль их работы;
                        li.price-page__item Контроль соблюдения тайминга торжества;
                        li.price-page__item Помощь в сборах жениха и невесты, включая отпаривание свадебных образов;
                        li.price-page__item Выполнение просьб пары, решение возникающих вопросов
                        li.price-page__item Помощь в завершении свадебного дня - пересчет и сбор оставшегося алкоголя, демонтаж декораций, упаковка еды и т.д.;
                        li.price-page__item Вызов такси паре и гостям;
                        li.price-page__item Контроль за предоставлением фото и видео после свадьбы.
                p.price-page__additional(data-aos="fade-up" data-aos-delay="600") *Если количество гостей превышает 50 человек, а команды - 8 человек, требуется дополнительный координатор стоимостью 15 т.р.
