extends ../base/layout

block variables
  - var title = "Пошаговый план подготовки для самостоятельных невест"
  - var isInnerPage = true

block main
    section.price-page
        .price-page__intro
            h1.price-page__title.price-page__title--width #{title}

        .price-page__wrapper
            .price-page__content(data-aos="fade-up" data-aos-delay="100")
                h2.price-page__heading Пошаговый план подготовки для самостоятельных невест
                h3.price-page__price 7000 руб
                .price-page__block
                    h3.price-page__block-title Для самостоятельных невест, которым нужен грамотный пошаговый алгоритм.
                    br
                    | Встреча проходит по видеосвязи в удобное для всех время.
                    ul.price-page__list
                        li.price-page__item.
                            Подробный план подготовки по шагам с чек-листами;
                        li.price-page__item.
                            Шаблон сметы, который позволит контролировать все расходы;
                        li.price-page__item.
                            На чем можно и нельзя экономить;
                        li.price-page__item.
                            Тонкости составления пригласительных;
                        li.price-page__item.
                            Обсуждение пожеланий пары к свадебной площадке, рекомендации по выбору площадки;
                        li.price-page__item.
                            Как составлять ТЗ для площадки и подрядчиков;
                        li.price-page__item.
                            На что обратить внимание при выборе света и звука;
                        li.price-page__item.
                            Особенности составления свадебного меню;
                        li.price-page__item.
                            На что обратить внимание при выборе подрядчиков, какие вопросы задавать. Что обязательно нужно включить в договор;
                        li.price-page__item.
                            Обсуждение пожеланий по декору и контакты проверенной команды декораторов. Из чего состоит декор, сколько зон нужно, как распределить бюджет по зонам, как выбрать референсы под площадку, платье и т.д.;
                        li.price-page__item.
                            Как правильно составить тайминг мероприятия;
                        li.price-page__item.
                            Как рассчитать алкоголь;
                        li.price-page__item.
                            Список того, о чем важно помнить в день торжества;
                        li.price-page__item.
                            Ответы на вопросы.