.album {
    color: $color-default-white;
    font-family: $ff-main;
    font-size: 24px;
}

.album__promo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.album__promo {
    position: relative;
    margin-top: -237px;
    margin-bottom: 200px;
    padding-top: 300px;
    padding-bottom: 100px;
    background-position: 50% 50%;
    background-size: cover;

    &::after,
    &::before {
        @include pseudo(20px, 1px);
        bottom: 70px;
        background-color: $color-default-white;
    }

    &::after {
        transform: rotate(55deg);
        left: calc(50% - 13px);
    }

    &::before {
        transform: rotate(-55deg);
        left: calc(50% - 2px);
    }

    &--20012022 {
        background-image: url("../img/pics/albums/2/cover.jpg");
    }

    &--04062022 {
        background-image: url("../img/pics/albums/3/cover.jpg");
    }

    &--17092022 {
        background-image: url("../img/pics/albums/5/cover.jpg");
    }

    &--20082022 {
        background-image: url("../img/pics/albums/8/cover.jpg");
    }

    &--23062022 {
        background-image: url("../img/pics/albums/9/cover.jpg");
    }

    &--08082022 {
        background-image: url("../img/pics/albums/12/cover.jpg");
    }

    &--24092022 {
        background-image: url("../img/pics/albums/14/cover.jpg");
    }

    &--23072022 {
        background-image: url("../img/pics/albums/15/cover.jpg");
    }

    &--13092022 {
        background-image: url("../img/pics/albums/16/cover.jpg");
    }

    &--11062021 {
        background-image: url("../img/pics/albums/17/cover.jpg");
    }

    &--16072022 {
        background-image: url("../img/pics/albums/6/cover.jpg");
    }

    &--01102022 {
        background-image: url("../img/pics/albums/1/cover.jpg");
    }

    &--03092022 {
        background-image: url("../img/pics/albums/4/cover.jpg");
    }

    &--06012022 {
        background-image: url("../img/pics/albums/7/cover.jpg");
    }

    &--28042022 {
        background-image: url("../img/pics/albums/10/cover.jpg");
    }

    &--11112021 {
        background-image: url("../img/pics/albums/13/cover.jpg");
    }

    &--07122022 {
        background-image: url("../img/pics/albums/11/cover.jpg");
    }
}

.album__heading {
    margin-bottom: 175px;
    padding-top: 105px;
    font-family: $ff-secondary;
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;

    @include vp-1280 {
        font-size: 69px;
        line-height: 75px;
    }
}

.album__text {
    color: $color-default-black;
}

.album__text:not(:last-of-type) {
    margin-bottom: 50px;
}

.album__description--container {
    max-width: 750px;
    margin-bottom: 200px;
    text-align: center;
}

.album__video-container {
    width: 280px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
}

.a {
    width: 100%;
    height: 100%;
    background-color: $color-ferra;
}

.album__photos--container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.album__list {
    display: grid;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    grid-auto-flow: dense;

    @include vp-768 {
        grid-template-columns: repeat(2, 1fr);
    }

    @include vp-1280 {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 200px;
    }
}

.album__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform $trans-default;

    @include hover {
        transform: scale(1.05);
    }
}

.album__item--hidden {
    display: none;
}

.album__item--gr {
    @include vp-768 {
        grid-row: span 2;
    }
}

.album__item--gc {
    @include vp-768 {
        grid-column: span 2;
    }
}

.album__item--grac {
    @include vp-768 {
        grid-row: span 3;
        grid-column: span 2;
    }
}

.album__button {
    margin: 0 auto;

    &:focus {
        border: none;
    }
}

@keyframes jump-after {
    0% {
        transform: translateY(0) rotate(55deg);
    }

    40% {
        transform: translateY(5px) rotate(55deg);
    }

    100% {
        transform: translateY(10px) rotate(55deg);
    }
}

@keyframes jump-before {
    0% {
        transform: translateY(0) rotate(-55deg);
    }

    40% {
        transform: translateY(5px) rotate(-55deg);
    }

    100% {
        transform: translateY(10px) rotate(-55deg);
    }
}

.jumping::after {
    animation: jump-after 1s linear alternate infinite;
}

.jumping::before {
    animation: jump-before 1s linear alternate infinite;
}
