.benefits {
    @include flex;
    flex-direction: column;
    padding-bottom: 80px;

    &__wrapper {
        @include flex;
        flex-direction: column;
        position: relative;
        max-width: 1440px;
    }

    &__heading {
        @include title-font;
        font-size: 24px;
    }

    &__nastya {
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;

        @media (min-width: 920px) {
            display: none;
        }
    }

    &__nastya-desk {
        display: none;

        @media (min-width: 920px) {
            display: block;
            height: 68%;
            left: 270px;
            position: absolute;
            z-index: 1;
            bottom: 0;
        }

        @media (min-width: 1200px) {
            left: 320px;
        }

        @media (min-width: 1440px) {
            left: 450px;
        }
    }

    &__list {
        @include ul-style;
        padding: 0 15px 130px;

        @media (min-width: 920px) {
            padding-left: 560px;
        }

        @media (min-width: 1200px) {
            padding-right: 85px;
            padding-left: 615px;
        }

        @media (min-width: 1440px) {
            padding-bottom: 320px;
            padding-right: 100px;
            padding-left: 695px;
        }
    }

    &__item {
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 16px;

        @media (min-width: 1200px) {
            font-size: 18px;
        }

        @media (min-width: 1440px) {
            font-size: 24px;
        }
    }

    &__contact {
        background-color: $main;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__link {
        font-family: "Montserrat", "Arial", sans-serif;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 7px;
        cursor: pointer;
        transition: transform 1s;
    }

    &__social {
        position: relative;
    }

    &__social-content {
        position: fixed;
        z-index: 9;
        width: 100%;
        background-color: rgba(244, 169, 192, 0.7);
        top: 286px;
        left: 0;
        right: -100%;
        bottom: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    &__social-links {
        background-color: $main;
        width: 100%;
        height: 70px;
        position: absolute;
        margin: 0 auto;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        right: -100%;
        transition: all 0.5s;

        @media (min-width: 920px) {
            gap: 75px;
            height: 100px;
        }

        &--open {
            right: 0;
            transition: all ease 0.5s;
        }
    }

    &__social-close {
        position: absolute;
        z-index: 10;
        right: 0;
        cursor: pointer;

        @media (min-width: 1440px) {
            right: 40px;
        }
    }
}

.scale {
    transition: transform 1s;
}

.scale:hover {
    transform: scale(1.25);
}

.benefits__link:hover {
    transform: scale(1.25);
}

.benefits__wrapper::before {

    display: none;

    @media (min-width: 920px) {
        display: block;
        position: absolute;
        content: "";
        background: url("../img/pics/elements/nastya.png") no-repeat;
        width: 370px;
        height: 585px;
        z-index: 10;
        left: -97px;
        bottom: 0;
        background-size: cover;

        @media (min-width: 1200px) {
            left: -50px;
        }

        @media (min-width: 1440px) {
            width: 630px;
            height: 945px;
            left: -130px;
        }
    }
}

.benefits__item:not(:last-child) {
    padding-bottom: 10px;
}

.benefits__list::after {
    position: absolute;
    content: "";
    background: url("../img/pics/elements/pie.png") no-repeat;
    width: 235px;
    height: 112px;
    background-size: cover;
    right: 0;
    bottom: 0;

    @media (min-width: 1440px) {
        width: 290px;
        height: 150px;
    }
}

.social-link {
    width: 50px;
    height: 50px;
}

.overlay-visible {
    visibility: visible;
    opacity: 1;
}
