.burger-menu {
    position: fixed;
    z-index: 10;
    right: 20px;
    top: 20px;

    @media (min-width: 768px) {
        display: none;
    }
}

.toggle-menu {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.line {
    width: 44px;
    height: 3px;
    border-radius: 3px;
    background-color: $black;
    transition: transform 0.2s ease-out;
}

.toggle .line1 {
    position: absolute;
    z-index: 1000;
    top: 7px;
    background-color: $white;
    transform: scale(0.9) rotateZ(-45deg) translate(-4px, 4px);
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    position: absolute;
    z-index: 1000;
    top: 17px;
    background-color: $white;
    transform: scale(0.9) rotateZ(45deg) translate(-4px, -4px);
}

.toggle .toggle-menu {
    background-color: transparent;
}

.nav {
    &__name {
        color: $white;
        font-size: 24px;
        text-decoration: none;
        padding-bottom: 15px;
    }

    &__button {
        position: relative;
        border: none;
        padding: 10px;
        background-color: transparent;
        box-shadow: none;
    }

    &__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(244, 169, 192, 0.7);
        top: 0;
        left: 0;
        right: -100%;
        bottom: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    &__content {
        background-color: $main;
        padding: 42px 25px 25px;
        height: 100%;
        width: 260px;
        position: absolute;
        margin: 0 auto;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: -260px;
        transition: all 0.5s;

        @include nav-font;

        &--open {
            right: 0;
            transition: all ease 0.5s;
        }
    }

    &__logo {
        width: 210px;
    }

    &__list {
        @include ul-style;
        padding-top: 30px;
    }

    &__signature {
        width: 110px;
        color: $white;
        font-size: 13px;
    }
}

.overlay-visible {
    visibility: visible;
    opacity: 1;
}
