.dialog {
    display: none;
    position: fixed;
    top: 0;
    padding: 0;
    border: none;
    overflow: visible;
    background-color: $color-black-opacity-7;
    align-items: center;
    justify-content: center;
}

.dialog--open {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.dialog__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}
