.faq {
    padding-bottom: 120px;
    position: relative;

    &__wrapper {
        @include flex;
        flex-direction: column;
        padding: 0 20px;
        font-family: "Montserrat", "Arial", sans-serif;
    }

    &__title {
        @include transform-title;
        padding-bottom: 30px;
        top: 50%;
    }
}

.accordion-card {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: $white;
    overflow: hidden;
    max-width: 700px;

    @media (min-width: 1200px) {
        min-width: 780px;
        max-width: 780px;
    }

    &__input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    &__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.35;
        color: $black;
        position: relative;
        word-break: break-word;
        padding-right: 40px;
        display: block;
        cursor: pointer;

        @media (min-width: 640px) {
            font-size: 24px;
        }

        @media (min-width: 1200px) {
            font-size: 26px;
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        padding-top: 20px;
        transition: max-height 0.35s;
    }

    &__text {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        color: $black;

        @include flex;
        align-items: flex-start;
        gap: 20px;

        @media (min-width: 640px) {
            font-size: 14px;
        }

        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }

    &__list {
        margin: 0;
        padding-left: 25px;
    }
}

.accordion-card input:checked ~ .accordion-card__content {
    max-height: 100vh;
}


.accordion-card__title::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    transition: all 0.35s;
}

.accordion-card input[type="checkbox"] + label::after {
    position: absolute;
    content: "";
    background-image: url("../img/icons/btn.svg");
    background-repeat: no-repeat;
    background-color: $white;
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $black;
}

.accordion-card input[type="checkbox"]:checked + label::after {
    transform: rotate(315deg);
}

.accordion-card input[type="radio"]:checked + label::after {
    transform: rotateX(180deg);
}
