.footer {
    margin-top: auto;
    background-color: $color-cupid;
}

.footer__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.footer__link {
    margin: 0 auto;
    font-family: $ff-main;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    transition: all 0.3s ease;

    @media (min-width: 1440px) {
        &:hover {
            color: $white;
        }
    }
}
