.header-desk {
    display: none;

    @media (min-width: 768px) {
        display: block;
        width: 100%;
    }

    &__list {
        @include ul-style;

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__name {
        @include nav-font;

        font-size: 14px;
        font-weight: 500;
        color: $color-default-black;
        position: relative;

        @media (min-width: 1200px) {
            font-size: 24px;
        }

        @media (min-width: 1640px) {
            font-size: 31px;
        }
    }
}

.header-desk__name--color {
    color: $color-cupid;
    position: relative;

    @media (min-width: 1200px) {
        font-size: 32px;
        align-self: flex-end;
    }
}

.header-desk__item--mod {
    @media (min-width: 1200px) {
        margin-left: auto;
    }
}

.header-desk__item:not(:last-child) {
    padding-right: 15px;

    @media (min-width: 1440px) {
        padding-right: 30px;
    }
}

.header-desk__name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid $color-default-black;
    box-shadow: 0 -1px 0 0 $color-default-black inset;
    transition: all 0.3s ease;
}

.header-desk__name:hover::after {
    opacity: 1;
    bottom: -2px;
}

.header-desk__name--color::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid $color-cupid;
    box-shadow: 0 -1px 0 0 $color-cupid inset;
    transition: all 0.3s ease;
}

.header-desk__name--color:hover::after {
    opacity: 1;
    bottom: -2px;
}
