.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    @media (min-width: 1260px) {
        justify-content: flex-start;
    }

    @media (min-width: 1300px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (min-width: 1640px) {
        padding-bottom: 60px;
    }

    &__logo {
        width: 65px;
        height: 65px;

        @media (min-width: 768px) {
            width: 100px;
            height: 100px;
            margin-right: 15px;
        }

        @media (min-width: 1260px) {
            width: 150px;
            height: 150px;
        }

        @media (min-width: 1640px) {
            margin-right: 70px;
        }
    }
}

.header--inner {
    .header-desk__name {
        color: $color-default-white;
    }
}

.header .header-desk__name--active::after {
    opacity: 1;
    bottom: -2px;
}
