.ideas {
    padding-bottom: 40px;
    padding-top: 60px;

    @include flex;

    @media (min-width: 440px) {
        padding-top: 50px;
    }

    &__wrapper {
        @include flex;
        flex-direction: column;
        position: relative;

        @media (min-width: 960px) {
            flex-direction: row;
            max-width: 1200px;
            padding-left: 50px;
            padding-right: 50px;
        }

        @media (min-width: 1200px) {
            align-items: flex-start;
        }

        @media (min-width: 1440px) {
            min-width: 1440px;
            max-width: 1440px;
        }
    }

    &__title {
        @include title-font;
        font-size: 24px;
        max-width: 590px;

        @media (min-width: 960px) {
            font-size: 36px;
            text-align: left;
        }

        @media (min-width: 1200px) {
            font-size: 50px;
            margin-top: 80px;
        }

        @media (min-width: 1440px) {
            font-size: 58px;
        }
    }
}

.ideas__wrapper::after {
    position: absolute;
    z-index: 99;
    content: "";
    background: url("../img/pics/elements/el1.png") no-repeat;
    width: 50px;
    height: 128px;
    top: 56px;
    left: 20px;
    rotate: 343deg;

    @media (min-width: 960px) {
        background: url("../img/pics/elements/el1-big.png") no-repeat;
        background-size: cover;
        width: 100px;
        height: 235px;
        top: 275px;
        left: 340px;
    }

    @media (min-width: 1200px) {
        left: 60px;
    }

    @media (min-width: 1440px) {
        left: 35px;
        width: 140px;
        height: 330px;
    }
}
