.ideas__swiper {
    width: 100%;
    max-width: 320px;
}

.swiper-button-back,
.swiper-button-forward {
    display: inline-flex;
    width: 13px;
    height: 13px;
    z-index: 9;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.swiper-button-back {
    border-top: 2px solid $white;
    border-left: 2px solid $white;
    transform: rotate(-45deg);
    left: 7px;
}

.swiper-button-forward {
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    transform: rotate(45deg);
    right: 7px;
}

.swiper-button-back::after,
.swiper-button-forward::after {
    display: none;
}
