.intro {
    &__heading {
        text-align: center;
        font-family: "Dela Gothic One", "Arial", sans-serif;
        line-height: 1.1;
        font-size: 16px;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 20px;
        }

        @media (min-width: 1260px) {
            font-size: 28px;
        }
    }
}
