.intro {

    padding-bottom: 80px;

    &__heading {
        @include title-font;

        @media (min-width: 768px) {
            font-size: 20px;
        }

        @media (min-width: 1260px) {
            font-size: 28px;
        }
    }
}
