.intro {
    margin-top: -130px;
    padding-top: 110px;
    position: relative;
    background: url("../img/pics/photo/background-intro.jpg") no-repeat;
    background-size: 160%;
    background-position: center;

    @media (min-width: 490px) {
        background-size: 130%;
        background-position: 50% -50%;
        margin-top: -300px;
        padding-top: 185px;
    }

    @media (min-width: 558px) {
        background-size: 140%;
        background-position: 50% 0;
    }

    @media (min-width: 920px) {
        background-size: 100%;
    }

    @media (min-width: 1024px) {
        padding-top: 270px;
    }

    @media (min-width: 1440px) {
        background-size: 100%;
        background-position: 50% 27%;
    }

    &__wrapper {
        // padding-bottom: 80px;
        min-height: 550px;
        max-height: 550px;

        @media (min-width: 768px) {
            max-height: 520px;
        }

        @media (min-width: 1024px) {
            min-height: 870px;
            max-height: fit-content;
        }
    }

    &__heading {
        @include title-font;
        position: relative;
        top: 98px;

        // @media (min-width: 375px) {
        //     top: 160px;
        // }

        @media (min-width: 768px) {
            font-size: 20px;
            top: 70px;
        }

        @media (min-width: 1024px) {
            top: 10px;
        }

        @media (min-width: 1260px) {
            font-size: 28px;
        }

        @media (min-width: 1440px) {
            font-size: 46px;
            padding-bottom: 60px;
        }
    }

    &__background {
        width: 100%;
        position: absolute;
        top: 0;
    }
}
