.swiper-slide {
    @include flex;

    height: auto;
}

.video-slide {
    background: url("../img/pics/elements/review-background.png") no-repeat;
    background-size: cover;
}

.video-slide-content {
    width: 255px;
    height: fit-content;
}
