.portfolio-page {
    margin: 0;

    @include vp-1440 {
        margin: 0 auto;
    }

    &__item {
        @include vp-1440 {
            cursor: pointer;
        }
    }
}

.portfolio-page__list {
    @include ul-style();

    display: grid;
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    grid-auto-rows: 390px;
    row-gap: 20px;

    @media (min-width: 768px) {
        padding-bottom: 100px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 390px;
        row-gap: 80px;
    }
}
