.price {
    @include flex;
    flex-direction: column;
    position: relative;

    &__wrapper {
        @include flex;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        padding: 0 10px 80px;

        @media (min-width: 800px) {
            padding: 0 90px 120px;
        }

        @media (min-width: 1200px) {
            padding-bottom: 1500px;
        }
    }

    &__heading {
        padding-bottom: 65px;

        @media (min-width: 1440px) {
            padding-bottom: 100px;
        }
    }

    &__title {
        @include title-font;
        font-size: 24px;
    }

    &__subtitle {
        @include title-font;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 0;

        @media (min-width: 1200px) {
            font-size: 30px;
        }

        @media (min-width: 1440px) {
            padding-bottom: 0;
        }
    }

    &__list {
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 16px;
        flex-wrap: wrap;

        @include ul-style;
        @include flex;
        align-items: flex-start;

        @media (min-width: 920px) {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            gap: 30px;
        }

        @media (min-width: 1200px) {
            min-width: 980px;
            max-width: 980px;
            position: relative;
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }

        @media (min-width: 1440px) {
            font-size: 24px;
        }
    }
}

.price::after {
    position: absolute;
    content: "";
    background: url("../img/pics/elements/decor.png") no-repeat;
    right: 0;
    top: 100px;
    min-width: 85px;
    min-height: 150px;
    background-size: cover;

    @media (min-width: 920px) {
        top: 25px;
        min-width: 155px;
        min-height: 235px;
    }

    @media (min-width: 1440px) {
        min-width: 205px;
        min-height: 310px;
    }
}

.list {
    &__link {
        color: $color-default-black;
    }

    &__heading {
        padding-bottom: 15px;

        @media (min-width: 1200px) {
            padding-right: 25px;
            padding-left: 25px;
            padding-top: 20px;
        }
    }

    &__img {
        min-width: 290px;
        max-width: 290px;
        height: auto;
        transition: all 0.3s ease;
    }

    &__item {
        max-width: 290px;

        &:not(:last-child) {
            padding-bottom: 25px;
        }

        @media (min-width: 600px) {
            &:nth-child(odd) {
                margin-right: 20px;
            }
        }

        @media (min-width: 920px) {
            &:nth-child(odd) {
                margin-right: 0;
            }
        }

        @media (min-width: 1200px) {
            min-width: auto;
            max-width: fit-content;
        }
    }
}

.list__img:hover {
    box-shadow: 0 5px 12px 6px rgba(244, 169, 192, 0.7);
}

.basic__link {
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.basic {
    @media (min-width: 1200px) {
        position: absolute;
        left: 0;
    }

    &__img {
        @media (min-width: 1200px) {
            min-width: 600px;
            max-width: 600px;
        }
    }
}

.optimum {
    @media (min-width: 1200px) {
        position: absolute;
        right: 0;
        top: 240px;
    }

    &__link {
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__img {
        @media (min-width: 1200px) {
            min-width: 460px;
            max-width: 460px;
        }
    }
}

.coordination {
    @media (min-width: 1200px) {
        position: absolute;
        left: 0;
        top: 625px;
    }

    &__link {
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__img {
        @media (min-width: 1200px) {
            min-width: 350px;
            max-width: 350px;
        }
    }
}

.planning {
    @media (min-width: 1200px) {
        position: absolute;
        right: 0;
        top: 620px;
    }

    @media (min-width: 1440px) {
        right: -53px;
    }

    &__img {
        @media (min-width: 1200px) {
            min-width: 320px;
            max-width: 320px;
        }
    }
}
