.reviews-swiper {
    overflow: visible;
    max-width: 320px;
    margin: 0 auto;

    @media (min-width: 1440px) {
        min-width: 250px;
        max-width: 250px;
    }

    &__wrapper {
        @media (min-width: 1440px) {
            padding-bottom: 15px;
        }
    }

    &__slide {
        background: url("../img/pics/elements/review-background.png") no-repeat;
        background-size: contain;
        min-height: 625px;
        padding: 75px 40px;
        display: block;

        @media (min-width: 1440px) {
            min-height: 500px;
            max-height: 500px;
        }
    }
}
/* stylelint-disable */
.reviews-slide {
    background-color: $white;
    position: relative;

    @include title-font;
    font-family: "Montserrat", "Arial", sans-serif;

    &__text {
        text-transform: initial;
        font-weight: 300;
        font-size: 13px;
        text-align: start;
        max-width: 235px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 18;
        -webkit-box-orient: vertical;

        @media (min-width: 920px) {
            font-size: 13px;
        }

        @media (min-width: 1200px) {
            font-size: 13px;
        }

        @media (min-width: 1440px) {
            padding-bottom: 10px;
            font-size: 13px;
        }
    }

    &__contact {
        text-transform: lowercase;
        text-align: left;
        font-size: 13px;
    }
}
/* stylelint-enable */
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
    background: none;
}

.reviews-slide__more {
    position: absolute;
    bottom: 80px;
    left: 40px;
    text-transform: lowercase;
    text-align: left;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    color: $main;

    @media (min-width: 1440px) {
        bottom: 60px;
    }
}
