.swiper-container {
    overflow: hidden;
    padding-bottom: 15px;
}

.swiper-button-prev,
.swiper-button-next {
    display: inline-flex;
    width: 13px;
    height: 13px;
    top: 30%;
    z-index: 9;
    cursor: pointer;
}

.swiper-button-prev {
    border-top: 2px solid $black;
    border-left: 2px solid $black;
    transform: rotate(-45deg);

    @media (min-width: 640px) {
        margin-left: 35px;
    }
}

.swiper-button-next {
    border-top: 2px solid $black;
    border-right: 2px solid $black;
    transform: rotate(45deg);

    @media (min-width: 640px) {
        margin-right: 35px;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
