.team {
    padding-bottom: 60px;
    padding-top: 50px;

    &__title {
        @include title-font;
        font-size: 24px;
    }

    &__wrapper {
        @include flex;
        flex-direction: column;
        padding: 15px;
    }

    &__content {
        max-width: 320px;
    }

    &__list {
        @include ul-style;
        @include flex;
        flex-direction: column;

        @media (min-width: 920px) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

.team-item {
    max-width: 280px;

    @include flex;
    flex-direction: column;

    @media (min-width: 920px) {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @media (min-width: 1440px) {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__title {
        font-family: "Dela Gothic One", "Arial", sans-serif;
        line-height: 1.1;
        font-size: 13px;
        text-align: center;
        padding-bottom: 5px;

        @media (min-width: 920px) {
            font-size: 15px;
        }

        @media (min-width: 1440px) {
            font-size: 18px;
        }
    }

    &__subtitle {
        font-family: "Dela Gothic One", "Arial", sans-serif;
        line-height: 1.1;
        font-size: 12px;
        text-align: center;

        @media (min-width: 920px) {
            font-size: 13px;
        }

        @media (min-width: 1440px) {
            font-size: 15px;
        }
    }

    &__img {
        margin-bottom: 10px;
    }
}

.team-item:not(:last-child) {
    padding-bottom: 40px;
}
