@mixin ul-style {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

@mixin nav-font {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-font {
    font-family: "Dela Gothic One", "Arial", sans-serif;
    line-height: 1.1;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}

@mixin transform-title {
    @include title-font;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;

    @media (min-width: 920px) {
        font-size: 30px;
    }

    @media (min-width: 1200px) {
        font-size: 46px;
    }

    @media (min-width: 1440px) {
        position: absolute;
        rotate: 90deg;
        left: -185px;
        top: 40%;
    }
}

@mixin btns {
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", sans-serif;
    color: $white;
    font-size: 16px;
    background-color: $main;
    border: none;
    transition: transform 1s;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}
