@mixin ul-style {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

@mixin nav-font {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-font {
    font-family: "Dela Gothic One", "Arial", sans-serif;
    line-height: 1.1;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;

    @media (min-width: 920px) {
        font-size: 30px;
    }

    @media (min-width: 1200px) {
        font-size: 46px;
    }

    @media (min-width: 1440px) {
        padding-bottom: 80px;
        font-size: 58px;
    }
}

@mixin transform-title {
    @include title-font;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;

    @media (min-width: 920px) {
        font-size: 30px;
    }

    @media (min-width: 1200px) {
        font-size: 46px;
    }

    @media (min-width: 1440px) {
        position: absolute;
        rotate: 90deg;
        left: -185px;
        top: 40%;
    }
}

@mixin btns {
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", sans-serif;
    color: $color-default-white;
    font-size: 16px;
    background-color: $color-cupid;
    border: none;
    transition: transform 1s;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}

@mixin pseudo($width, $height) {
    position: absolute;
    content: "";
    width: $width;
    height: $height;
}


@mixin vp-375 {
    @media (min-width: $vp-375) {
        @content;
    }
}

@mixin vp-768 {
    @media (min-width: $vp-768) {
        @content;
    }
}

@mixin vp-1024 {
    @media (min-width: $vp-1024) {
        @content;
    }
}

@mixin vp-1280 {
    @media (min-width: $vp-1280) {
        @content;
    }
}

@mixin vp-1440 {
    @media (min-width: $vp-1440) {
        @content;
    }
}

@mixin vp-1920 {
    @media (min-width: $vp-1920) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover:not(.focus-visible) {
            @content;
        }
    }
}
