*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body,
h1,
div,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

h2,
p,
li {
    word-break: break-word;
}

h2,
p {
    word-break: break-word;
    cursor: default;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    padding: 0;
}

select {
    appearance: none;
}

select:focus,
input:focus,
button:focus {
    outline: 2px solid $color-cupid;
    border: 2px solid $color-cupid;
}

div {
    outline: none;
}

select::-ms-expand {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
