@import "fonts";
@import "variables";
@import "normalize";
@import "mixins";
@import "keyframes";
@import "partials/container";
@import "partials/timeline";
@import "partials/header";
@import "partials/burger-menu";
@import "partials/header-desk";
@import "partials/intro";
@import "partials/intro-swiper-slide";
@import "partials/intro-swiper";
@import "partials/ideas";
@import "partials/ideas-slide";
@import "partials/ideas-swiper";
@import "partials/benefits";
@import "partials/portfolio";
@import "partials/team";
@import "partials/price";
@import "partials/calculation";
@import "partials/faq";
@import "partials/reviews";
@import "partials/reviews-slider";
@import "partials/contacts";
@import "partials/portfolio-page";
@import "partials/cover-card";

html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

.up {
    position: fixed;
    cursor: pointer;
    bottom: 46px;
    right: 0;
    z-index: 999;
    width: 55px;
    height: 55px;

    @media (min-width: 640px) {
        right: 43px;
    }
}

.arrow-up {
    width: 50px;
    height: 50px;
}
