-
    var CLASSIC_COVERS = [
        {
            date: '20.01.2022',
            title: 'Андрея и Насти',
            coverSrc: 'img/pics/albums/2/cover',
            coverText: 'Андрея и Насти',
            src: '20012022.html',
            description: [
                'Классическая камерная свадьба Андрея и Насти как в кино, которая состоялась в январе 2022 года. Ребята вдохновились одной из сцен фильма «Запах женщины», где Донна и Френк танцуют танго в ресторане Нью-Йорка.',
                'Чёрный смокинг с лацканами, платье-футляр, нежный макияж и собранные волосы. Даже ресторан был выбран из-за настолько похожего интерьера и формы стульев. И то самое танго, да, оно было будоражащим душу!',
                'Кинематографичности добавила фотозона, которая была выполнена из баннеров с фотографиями пары в ретро-стиле. Все важные моменты были запечатлены на пленку и полароид.',
                'Настя и Андрей хотели уделить внимание каждому гостю во время праздника, поэтому в течение вечера они перемещались от стола к столу. Свадьба без президиума - как повод быть ближе к своим родственникам и друзьям.',
                'Читайте подробнее об этой красивой истории в блоге: https://weddywood.ru/kak-v-kino-klassicheskaya-kamernaya-svadba/',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=OvJjGhDadqE',
            videoID: 'OvJjGhDadqE'
        },
        {
            date: '04.06.2022',
            title: 'Романа и Насти',
            coverSrc: 'img/pics/albums/3/cover',
            coverText: 'Романа и Насти',
            src: '04062022.html',
            description: [
                'Рома и Настя точно знают, чего хотят. Красивые, горячие, перспективные, с серьезными намерениями. Свадьба для них - очень важный и трепетный шаг в совместной жизни, который они хотели запечатлеть в памяти, в том числе близких их людей.',
                'Мы с ребятами выбрали современный панорамный ресторан с видом на облагороженный парк и реку. Полюбоваться этими красотами каждый мог не только с места, но и буквально открыв двери и выйдя на балкон.',
                'Классическая стильная свадьба с вниманием к деталям, использованием трендов и воздуха. Так точно получилось все это передать в декоре:',
                '- Белую цветовую гамму дополнили благородным серым;',
                '- Выездную регистрацию разместили на веранде, напротив прекрасных фонтанов;',
                '- Место за столом для каждого гостя было сервировано с арендованными бокалами и подстановочной тарелкой, а ещё именной карточкой и банкетным меню этого вечера. Разработкой карточек занимался дизайнер;',
                '- Ну и, конечно, парящие цветочные композиции с гипсофилой, как они прекрасны!',
                'Идеальный день, идеальные ребята, очень семейный и тёплый праздник. Вы можете окунуться в него, посмотрев серию фото. Во время просмотра будьте осторожны: возможно вы захотите так же!)',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '17.09.2022',
            title: 'Гора и Леры',
            coverSrc: 'img/pics/albums/5/cover',
            coverText: 'Гора и Леры',
            src: '17092022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=3zaUakcyoN0',
            videoID: '3zaUakcyoN0'
        },
        {
            date: '20.08.2022',
            title: 'Олега и Иры',
            coverSrc: 'img/pics/albums/8/cover',
            coverText: 'Олега и Иры',
            src: '20082022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '23.06.2022',
            title: 'Ромы и Анжелики',
            coverSrc: 'img/pics/albums/9/cover',
            coverText: 'Ромы и Анжелики',
            src: '23062022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=qB5AO3S1Kog',
            videoID: 'qB5AO3S1Kog'
        },
        {
            date: '08.08.2022',
            title: 'Николая и Риты',
            coverSrc: 'img/pics/albums/12/cover',
            coverText: 'Николая и Риты',
            src: '08082022.html',
            description: [
                'Рита с Колей нашли нас в инстаграм и пришли с запросом: «Хотим такую свадьбу, чтобы была возможность остаться с ночёвкой и продолжить тусить на второй день с баней, кринж-конкурсами от жениха. Такая несвадебная свадьба»…',
                'Нам не нужно было ни слова больше - это наш профиль😄',
                'Реализация:',
                '- Загородный дом с баней, бассейном, стильными комнатами для всех гостей;',
                '- Куча смешных очков и моментальное фото на фуршете;',
                '- Невесту выносят друзья жениха, как богиню на большом розовом фламинго;',
                '- На церемонии обмен смешными обещаниями и церемония перевязывания рук из любимого сериала ребят «Игра престолов»;',
                '- Двухчасовой ужин на веранде второго этажа с алым закатом и невероятным видом;',
                '- Треш блок с конкурсами типа «лопай попой»;',
                '- Продолжение вечером в доме с пижамным дресс-кодом.',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=slVJJ5XPyJE',
            videoID: 'slVJJ5XPyJE'
        },
        {
            date: '24.09.2022',
            title: 'А&O',
            coverSrc: 'img/pics/albums/14/cover',
            coverText: 'А&O',
            src: '24092022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=2yjstFnIYgM',
            videoID: '2yjstFnIYgM'
        },
        {
            date: '23.07.2022',
            title: 'Сергея и Насти',
            coverSrc: 'img/pics/albums/15/cover',
            coverText: 'Сергея и Насти',
            src: '23072022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=xCR5Gam_UZk',
            videoID: 'xCR5Gam_UZk'
        },
        {
            date: '13.09.2022',
            title: 'Сергея и Тани',
            coverSrc: 'img/pics/albums/16/cover',
            coverText: 'Сергея и Тани',
            src: '13092022.html',
            description: [
                'Таня с Сережей пришли к нам по рекомендации от нашей невесты и у нас сразу сложились легкие, дружеские отношения. Ребят объединяет их любимый член семьи - далматинец Оскар, и мы, не раздумывая, предложили взять его с собой на свадьбу! Выбрав площадку мы поняли, что ребята хотят свадебную вечеринку в классическом стиле, получилось удачное смешение «Shake it»))',
                'Реализация:',
                '- Лав стори с Оскаром на площадке;',
                '- Съемка в одеяле с чаем у палатки;',
                '- Съемка фото и трендовых рилсов с декором их свадьбы;',
                '- Ребята тусили с гостями на фуршете, много обнимались и целовались;',
                '- Мы разукрасили голову Давида;',
                '- Церемония была и смешной и трогательной;',
                '- Когда ребята заходили в зал, диджей включил на столько зажигательную музыку, что ребята разорвали танцпол с первых же секунд начала ужина, и все гости выбежали к ним танцевать;',
                '- После свадебного ужина мы все сели на пол и пели душевные песни хором, обнявшись.',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=48-kLQ0cQt8',
            videoID: '48-kLQ0cQt8'
        },
        {
            date: '11.06.2021',
            title: 'Виталика и Даши',
            coverSrc: 'img/pics/albums/17/cover',
            coverText: 'Виталика и Даши',
            src: '11062021.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=oZPejdSdW6A',
            videoID: 'oZPejdSdW6A'
        },
        {
            date: '16.07.2022',
            title: 'Саши и Кати',
            coverSrc: 'img/pics/albums/6/cover',
            coverText: 'Саши и Кати',
            src: '16072022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
    ]
