-
    var CLASSIC_COVERS = [
        {
            date: '20.01.2022',
            title: 'Андрея и Насти',
            coverSrc: 'img/pics/albums/2/cover',
            coverText: 'Андрея и Насти',
            src: '20012022.html',
            location: 'Ереван, Армения',
            description: [
                'Юля не приехала, потому что думала, что Саша пошутил. После фотографии с места встречи понимает, что всё серьёзно.Приходит, опоздав на 40 минут.',
                'Саша делает предложение неожиданно, ничего не готовит, кроме кольца, которое Юля однажды назвала красивым. Она опять не верит, думает, что это очередная шутка.',
                'В июле эти классные ребята танцуют на крыше в окружении близких и оба уже точно знают - это не шутка, это их свадебная вечеринка:)',
            ],
            videoSrc: 'asd'
        },
        {
            date: '04.06.2022',
            title: 'Романа и Насти',
            coverSrc: 'img/pics/albums/3/cover',
            coverText: 'Романа и Насти',
            src: '04062022.html',
            location: 'Ереван, Армения',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'asd'
        },
        {
            date: '17.09.2022',
            title: 'Гора и Леры',
            coverSrc: 'img/pics/albums/5/cover',
            coverText: 'Гора и Леры',
            src: '17092022.html'
        },
        {
            date: '20.08.2022 ',
            title: 'Олега и Иры',
            coverSrc: 'img/pics/albums/8/cover',
            coverText: 'Олега и Иры',
            src: '20.8.022 .html'
        },
        {
            date: '23.06.2022 ',
            title: 'Ромы и Анжелики',
            coverSrc: 'img/pics/albums/9/cover',
            coverText: 'Ромы и Анжелики',
            src: '23.6.022 .html'
        },
        {
            date: '08.08.2022',
            title: 'Николая и Риты',
            coverSrc: 'img/pics/albums/12/cover',
            coverText: 'Николая и Риты',
            src: '08082022.html'
        },
        {
            date: '24.09.2022 ',
            title: 'А&O',
            coverSrc: 'img/pics/albums/14/cover',
            coverText: 'А&O',
            src: '24.9.022 .html'
        },
        {
            date: '27.07.2022 ',
            title: 'Сергея и Насти',
            coverSrc: 'img/pics/albums/15/cover',
            coverText: 'Сергея и Насти',
            src: '27.7.022 .html'
        },
        {
            date: '13.09.2022 ',
            title: 'Сергея и Тани',
            coverSrc: 'img/pics/albums/16/cover',
            coverText: 'Сергея и Тани',
            src: '13.9.022 .html'
        },
        {
            date: '11,06.2022',
            title: 'Виталика и Даши',
            coverSrc: 'img/pics/albums/17/cover',
            coverText: 'Виталика и Даши',
            src: '11062022.html'
        },
        {
            date: '16.07.2022',
            title: 'Саши и Кати',
            coverSrc: 'img/pics/albums/6/cover',
            coverText: 'Саши и Кати',
            src: '16072022.html'
        },
    ]
