-
    var CLASSIC_COVERS = [
        {
            date: '20.01.2022 ',
            title: 'Андрея и Насти',
            coverSrc: 'img/pics/albums/2/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '04.06.2022',
            title: 'Романа и Насти',
            coverSrc: 'img/pics/albums/3/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '17.09.22',
            title: 'Гора и Леры',
            coverSrc: 'img/pics/albums/5/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '20.08.2022 ',
            title: 'Олега и Иры',
            coverSrc: 'img/pics/albums/8/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '23.06.2022 ',
            title: 'Ромы и Анжелики',
            coverSrc: 'img/pics/albums/9/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '08.08.22',
            title: 'Николая и Риты',
            coverSrc: 'img/pics/albums/12/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '24.09.2022 ',
            title: 'А&O',
            coverSrc: 'img/pics/albums/14/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '27.07.2022 ',
            title: 'Сергея и Насти',
            coverSrc: 'img/pics/albums/15/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '13.09.2022 ',
            title: 'Сергея и Тани',
            coverSrc: 'img/pics/albums/16/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '11,06.22',
            title: 'Виталика и Даши',
            coverSrc: 'img/pics/albums/17/cover.jpg',
            coverText: 'Гранаты'
        },
        {
            date: '16.07.22',
            title: 'Саши и Кати',
            coverSrc: 'img/pics/albums/6/cover.jpg',
            coverText: 'Гранаты'
        },
    ]
