-
    var OTHER_COVERS = [
        {
            date: '07.12.2022',
            title: 'ЕБ@ТЬ 35',
            coverSrc: 'img/pics/albums/11/cover',
            coverText: 'ЕБ@ТЬ 35',
            src: '07122022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=fF2f3FiqEb8',
            videoID: 'fF2f3FiqEb8'
        },
    ]
