-
    var OTHER_COVERS = [
        {
            date: '07.12.2022 ',
            title: 'ЕБ@ТЬ 35',
            coverSrc: 'img/pics/albums/11/cover',
            coverText: 'ЕБ@ТЬ 35'
        },
    ]
