-
    var PARTIES_COVERS = [
        {
            date: '01.10.2022',
            title: 'Айгуль Саша',
            coverSrc: 'img/pics/albums/1/cover',
            coverText: 'Гранаты'
        },
        {
            date: '03.09.2022',
            title: 'Амир Валя',
            coverSrc: 'img/pics/albums/4/cover',
            coverText: 'Гранаты'
        },
        {
            date: '06.01.2022',
            title: 'Настя Леша',
            coverSrc: 'img/pics/albums/7/cover',
            coverText: 'Гранаты'
        },
        {
            date: '20.08.2022 ',
            title: 'Олега и Иры',
            coverSrc: 'img/pics/albums/8/cover',
            coverText: 'Гранаты'
        },
        {
            date: '23.06.2022 ',
            title: 'Ромы и Анжелики',
            coverSrc: 'img/pics/albums/9/cover',
            coverText: 'Гранаты'
        },
        {
            date: '28.04.2022 ',
            title: 'Кати и Миши',
            coverSrc: 'img/pics/albums/10/cover',
            coverText: 'Гранаты'
        },
        {
            date: '08.08.2022',
            title: 'Николая и Риты',
            coverSrc: 'img/pics/albums/12/cover',
            coverText: 'Гранаты'
        },
        {
            date: '11.11.2021 ',
            title: 'Насти и Артемия',
            coverSrc: 'img/pics/albums/13/cover',
            coverText: 'Гранаты'
        },
        {
            date: '24.09.2022 ',
            title: 'А&O',
            coverSrc: 'img/pics/albums/14/cover',
            coverText: 'Гранаты'
        },
        {
            date: '13.09.2022 ',
            title: 'Сергея и Тани',
            coverSrc: 'img/pics/albums/16/cover',
            coverText: 'Гранаты'
        },
        {
            date: '11,06.2022',
            title: 'Виталика и Даши',
            coverSrc: 'img/pics/albums/17/cover',
            coverText: 'Гранаты'
        },
    ]
