-
    var PARTIES_COVERS = [
        {
            date: '01.10.2022',
            title: 'Айгуль и Саши',
            coverSrc: 'img/pics/albums/1/cover',
            coverText: 'Айгуль и Саши',
            src: '01102022.html',
            location: 'Ереван, Армения',
            description: [
                'Юля не приехала, потому что думала, что Саша пошутил. После фотографии с места встречи понимает, что всё серьёзно.Приходит, опоздав на 40 минут.',
                'Саша делает предложение неожиданно, ничего не готовит, кроме кольца, которое Юля однажды назвала красивым. Она опять не верит, думает, что это очередная шутка.',
                'В июле эти классные ребята танцуют на крыше в окружении близких и оба уже точно знают - это не шутка, это их свадебная вечеринка:)',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '03.09.2022',
            title: 'Амир и Валя',
            coverSrc: 'img/pics/albums/4/cover',
            coverText: 'Амира и Вали',
            src: '03092022.html',
            description: [
                'Юля не приехала, потому что думала, что Саша пошутил. После фотографии с места встречи понимает, что всё серьёзно.Приходит, опоздав на 40 минут.',
                'Саша делает предложение неожиданно, ничего не готовит, кроме кольца, которое Юля однажды назвала красивым. Она опять не верит, думает, что это очередная шутка.',
                'В июле эти классные ребята танцуют на крыше в окружении близких и оба уже точно знают - это не шутка, это их свадебная вечеринка:)',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=D-jnhZ_DOUU',
            videoID: 'D-jnhZ_DOUU'
        },
        {
            date: '06.01.2022',
            title: 'Насти и Леши',
            coverSrc: 'img/pics/albums/7/cover',
            coverText: 'Настя и Леша',
            src: '06012022.html',
            description: [
                'Юля не приехала, потому что думала, что Саша пошутил. После фотографии с места встречи понимает, что всё серьёзно.Приходит, опоздав на 40 минут.',
                'Саша делает предложение неожиданно, ничего не готовит, кроме кольца, которое Юля однажды назвала красивым. Она опять не верит, думает, что это очередная шутка.',
                'В июле эти классные ребята танцуют на крыше в окружении близких и оба уже точно знают - это не шутка, это их свадебная вечеринка:)',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=SC__bdO0H0Y',
            videoID: 'SC__bdO0H0Y'
        },
        {
            date: '20.08.2022',
            title: 'Олега и Иры',
            coverSrc: 'img/pics/albums/8/cover',
            coverText: 'Олега и Иры',
            src: '20082022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '23.06.2022',
            title: 'Ромы и Анжелики',
            coverSrc: 'img/pics/albums/9/cover',
            coverText: 'Рома и Анжелика',
            src: '23062022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '28.04.2022',
            title: 'Кати и Миши',
            coverSrc: 'img/pics/albums/10/cover',
            coverText: 'Катя и Миша',
            src: '28042022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=ShRFDxTnSYM',
            videoID: 'ShRFDxTnSYM'
        },
        {
            date: '08.08.2022',
            title: 'Николая и Риты',
            coverSrc: 'img/pics/albums/12/cover',
            coverText: 'Николая и Риты',
            src: '08082022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=slVJJ5XPyJE',
            videoID: 'slVJJ5XPyJE'
        },
        {
            date: '11.11.2021',
            title: 'Насти и Артемия',
            coverSrc: 'img/pics/albums/13/cover',
            coverText: 'Настя и Артемий',
            src: '11112021.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '24.09.2022',
            title: 'А&O',
            coverSrc: 'img/pics/albums/14/cover',
            coverText: 'А&O',
            src: '24092022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=2yjstFnIYgM',
            videoID: '2yjstFnIYgM'
        },
        {
            date: '13.09.2022',
            title: 'Сергея и Тани',
            coverSrc: 'img/pics/albums/16/cover',
            coverText: 'Сергея и Тани',
            src: '13092022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=48-kLQ0cQt8',
            videoID: '48-kLQ0cQt8'
        },
        {
            date: '11.06.2021',
            title: 'Виталика и Даши',
            coverSrc: 'img/pics/albums/17/cover',
            coverText: 'Виталика и Даши',
            src: '11062021.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=oZPejdSdW6A',
            videoID: 'oZPejdSdW6A'
        },
    ]
