-
    var PARTIES_COVERS = [
        {
            date: '01.10.2022',
            title: 'Айгуль и Саши',
            coverSrc: 'img/pics/albums/1/cover',
            coverText: 'Айгуль и Саши',
            src: '01102022.html',
            location: 'Ереван, Армения',
            description: [
                'Юля не приехала, потому что думала, что Саша пошутил. После фотографии с места встречи понимает, что всё серьёзно.Приходит, опоздав на 40 минут.',
                'Саша делает предложение неожиданно, ничего не готовит, кроме кольца, которое Юля однажды назвала красивым. Она опять не верит, думает, что это очередная шутка.',
                'В июле эти классные ребята танцуют на крыше в окружении близких и оба уже точно знают - это не шутка, это их свадебная вечеринка:)',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '03.09.2022',
            title: 'Амир и Валя',
            coverSrc: 'img/pics/albums/4/cover',
            coverText: 'Амира и Вали',
            src: '03092022.html',
            description: [
                'Эту вечеринку только для друзей мы организовали в двухэтажном зале лофта, который отлично подходил под запрос: никакой навязчивой программы, пусть каждый найдёт себе занятие по душе. В нашей доступности были лаунж перед входом, первый этаж со стационарной барной стойкой, второй этаж для танцпола и открытая крыша для проведения выездной церемонии.',
                'Естественно, никакого поминутно расписанного тайминга от ведущего, как на классическом банкете, не должно было быть. Но нашей задачей было не дать гостям скучать и грустно путешествовать от еды к напиткам. Так и появилось разделение на интерактивные зоны, которые были привязаны к концепции мероприятия.',
                'Лаунж-зона: посадочные места, фуршет и напитки на свежем воздухе',
                'Первый этаж: посадочные места, фуршет и напитки. Приглашенный бармен, который готовил коктейли с начала мероприятия и до его конца по вкусовым предпочтениям пары и пожеланиям гостей. В этой зоне у нас проходили весёлые квизы от ведущего о паре и смешные стендапы о гостях.',
                'Второй этаж:',
                '- Тату-бар с переводными татуировками, как в детстве, с любимой коллекцией стикеров из телеграмм нашей пары;',
                '- Зона душнил с картами, нардами и шахматами для тех, кто хотел немного уединиться;',
                '- Яркая фотозона с мягкой мебелью, чтобы сделать фотки как в сериале «Друзья»;',
                '- Гвоздь программы - аппарат «Хватай-ка» с игрушками-енотами (тотемное животное пары);',
                '- Разрывной танцпол, бирпонг и другие вечериночные развлечения.',
                'Крыша: на ней мы провели выездную церемонию под романтику проезжающих поездов. Было очень трогательно. Абсолютно каждый от гостей до команды отметил искреннюю речь пары, настоящую, душевную, без прикрас.',
                'На нашем опыте это был первый раз, когда пара приложила руку к оформлению декора. Они разрисовали свою выездную церемонию цветными баллончиками с краской.',
                'Интерактивные зоны пробудили во всех детский азарт и оставили самые лучшие эмоции от праздника.',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '06.01.2022',
            title: 'Насти и Леши',
            coverSrc: 'img/pics/albums/7/cover',
            coverText: 'Настя и Леша',
            src: '06012022.html',
            description: [
                'Юля не приехала, потому что думала, что Саша пошутил. После фотографии с места встречи понимает, что всё серьёзно.Приходит, опоздав на 40 минут.',
                'Саша делает предложение неожиданно, ничего не готовит, кроме кольца, которое Юля однажды назвала красивым. Она опять не верит, думает, что это очередная шутка.',
                'В июле эти классные ребята танцуют на крыше в окружении близких и оба уже точно знают - это не шутка, это их свадебная вечеринка:)',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '20.08.2022',
            title: 'Олега и Иры',
            coverSrc: 'img/pics/albums/8/cover',
            coverText: 'Олега и Иры',
            src: '20082022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '23.06.2022',
            title: 'Ромы и Анжелики',
            coverSrc: 'img/pics/albums/9/cover',
            coverText: 'Рома и Анжелика',
            src: '23062022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '28.04.2022',
            title: 'Кати и Миши',
            coverSrc: 'img/pics/albums/10/cover',
            coverText: 'Катя и Миша',
            src: '28042022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '08.08.2022',
            title: 'Николая и Риты',
            coverSrc: 'img/pics/albums/12/cover',
            coverText: 'Николая и Риты',
            src: '08082022.html',
            description: [
                'Рита с Колей нашли нас в инстаграм и пришли с запросом: «Хотим такую свадьбу, чтобы была возможность остаться с ночёвкой и продолжить тусить на второй день с баней, кринж-конкурсами от жениха. Такая несвадебная свадьба»…',
                'Нам не нужно было ни слова больше - это наш профиль😄',
                'Реализация:',
                '- Загородный дом с баней, бассейном, стильными комнатами для всех гостей;',
                '- Куча смешных очков и моментальное фото на фуршете;',
                '- Невесту выносят друзья жениха, как богиню на большом розовом фламинго;',
                '- На церемонии обмен смешными обещаниями и церемония перевязывания рук из любимого сериала ребят «Игра престолов»;',
                '- Двухчасовой ужин на веранде второго этажа с алым закатом и невероятным видом;',
                '- Треш блок с конкурсами типа «лопай попой»;',
                '- Продолжение вечером в доме с пижамным дресс-кодом.',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '11.11.2021',
            title: 'Насти и Артемия',
            coverSrc: 'img/pics/albums/13/cover',
            coverText: 'Настя и Артемий',
            src: '11112021.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '24.09.2022',
            title: 'А&O',
            coverSrc: 'img/pics/albums/14/cover',
            coverText: 'А&O',
            src: '24092022.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '13.09.2022',
            title: 'Сергея и Тани',
            coverSrc: 'img/pics/albums/16/cover',
            coverText: 'Сергея и Тани',
            src: '13092022.html',
            description: [
                'Таня с Сережей пришли к нам по рекомендации от нашей невесты и у нас сразу сложились легкие, дружеские отношения. Ребят объединяет их любимый член семьи - далматинец Оскар, и мы, не раздумывая, предложили взять его с собой на свадьбу! Выбрав площадку мы поняли, что ребята хотят свадебную вечеринку в классическом стиле, получилось удачное смешение «Shake it»))',
                'Реализация:',
                '- Лав стори с Оскаром на площадке;',
                '- Съемка в одеяле с чаем у палатки;',
                '- Съемка фото и трендовых рилсов с декором их свадьбы;',
                '- Ребята тусили с гостями на фуршете, много обнимались и целовались;',
                '- Мы разукрасили голову Давида;',
                '- Церемония была и смешной и трогательной;',
                '- Когда ребята заходили в зал, диджей включил на столько зажигательную музыку, что ребята разорвали танцпол с первых же секунд начала ужина, и все гости выбежали к ним танцевать;',
                '- После свадебного ужина мы все сели на пол и пели душевные песни хором, обнявшись.',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=XIZrbyMp-dw',
            videoID: 'XIZrbyMp-dw'
        },
        {
            date: '11.06.2021',
            title: 'Виталика и Даши',
            coverSrc: 'img/pics/albums/17/cover',
            coverText: 'Виталика и Даши',
            src: '11062021.html',
            description: [
                'тест3',
                'тест4',
                'тест5',
            ],
            videoSrc: 'https://www.youtube.com/watch?v=oZPejdSdW6A',
            videoID: 'oZPejdSdW6A'
        },
    ]
